.topnav {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: 800;
}

.topnav .site-nav-link {
    float: left;
    text-decoration: none;
}

.topnav .site-nav-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav .site-nav-link,
.topnav .icon {
    color: #ffffff;
    padding: 14px 16px;
    cursor: pointer;
}

.topnav .icon,
.small-menu-block {
    display: none;
}

@media screen and (max-width: 650px) {

    .topnav .site-nav-link {
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
    }

    .topnav .icon,
    .small-menu-block {
        display: block;
    }
    
    .small-menu-block {
        background-color:#000000;
        font-weight: 700;
        margin-top: 22px;
        position: fixed;
        padding: 10px 0px;
        text-transform: uppercase;
        width: 100%;
    }

    .small-menu-nav {
        text-decoration: none;
        color: #ffffff;
    }

    .small-menu-divider {
        width: 80%;
    }
}
