.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.site-logo {
    text-align: center;
}

.topnav .site-nav-link {
    cursor: pointer;
    float: left;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.topnav .site-nav-link:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav .icon {
    display: none;
    padding: 14px 16px;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
}

.small-menu-block {
    display: none;
}

@media screen and (max-width: 650px) {

    .topnav .site-nav-link {
        display: none;
    }

    .topnav .icon {
        float: right;
        display: block;
    }

    .small-menu-block {
        margin-top: 48px;
        display: block;
        background-color: rgb(0, 0, 0);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    .small-menu-nav {
        font-size: 14px;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
    }

    .small-menu-divider {
        width: 80%;
    }
}
