nav {
    border: 1px solid black;
    height: 80px;
    background-color: black;
    color: white !important;
    position: fixed;
    z-index: 100;
    top: 0;
}

/* MENU LOGO */
.nav-logo {
    float: left;
}

.nav-logo h1 {
    font-size: 25px;
    color: white !important;
}

/* MENU LIST */
.nav-menu-list {
    margin: 27px 0px;
}

.nav-heading a{
    text-align: center;
    font-weight: 700;
    color: white !important;
}

.nav-sub-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 70px;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    z-index: 1;
}

.nav-sub-menu h6 {
    color: white !important;
    text-align: left;
    margin: 0px;
    padding: 10px 0px;
    font-size: 700;
}

.nav-heading:hover .nav-sub-menu {
    display: block;
}

.nav-heading:hover {
    text-decoration: underline;
}

.nav-heading,
.nav-sub-menu h6 {
    cursor: pointer;
    font-weight: 700;
}

/* SMALL MENU  */
.small-menu-screen,
.small-menu-block,
.small-menu-container {
    display: none;
}