.imdb_input_search {
    padding: 5px 5px;
    font-size: 15px;
    width: 250px;
    height: 18px;
    margin-bottom: 0;
}

.imdb_input_type {
    height: 31px;
}

.result_container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    margin: 20px 0px;
}

.successful-result-details{
    grid-column: span 6;
    width: 100%;
}

.imdb-poster-container {
    grid-column: span 4;
    margin: auto;
    width: 100%;
}

.search_result_poster{
    width: 100%;
    max-height: auto;
}

.genre-buttons-container {
    margin: auto;
}

.genre-button {
    margin: 10px 5px;
}