.sidebar-section {
    margin-bottom: 50px;
}

.sidebar-heading {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.sidebar-heading h1 {
    padding: 8px;
}

.sidebar-profile-icon {
    margin: 15px 0px;
    border-radius: 50%;
}

.sidebar-links {
    margin: 35px 0px;
}

@media screen and (max-width: 1080px) {

    aside {
        grid-column: span 12 !important;
        margin: auto;
    } 

}

@media screen and (max-width: 640px) {
    aside {
        width: 90% !important;
    }
}