.tabs-component-container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

.tabs-component-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.single-tab {
    text-align: center;
    grid-column: span 4;
    border-right: 1px solid rgb(87, 87, 87) 
}

.single-tab:last-child {
    border: none;
}

.single-tab:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(30, 111, 250);
}


.tabs-display-content {
    border: 1px solid black;
    padding: 15px;
    min-height: 300px;
}