.site-table-component {
    margin: 35px auto;
}

.site-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.site-td,
.site-th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    text-transform: capitalize;
}


.site-td:last-child {
    border-right: 1px solid #dddddd;
}

.site-tr:nth-child(even) td {
    border-right: 1px solid #ffffff;
}

.site-tr:nth-child(even) {
    background-color: #dddddd !important;
}

.site-tr:nth-child(odd) {
    background-color: #ffffff !important;
}