.carousel-component-container {
    width: 90%;
    margin: auto;
}

.carousel-images-container {
    margin: 25px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    width: 100%;
    
}

.slide-image-container {
    grid-column: span 4;
}

.slide-image {
    width: 95%;
    height: 100%;
    margin: auto;
}

.toggle-button{
    margin: auto;
    cursor: pointer;
    grid-column: span 1;
}

.carousel-form {
    margin: 40px  20px 0px;
}

.image-carousel-search {
    height: 25px;
    width: 200px;
    margin: auto;
}

.image-carousel-search-button {
    height: 30px;
    margin: 0px 5px;
    padding: 0px 15px;
}