/* SMALL MENU  */
.small-menu-screen,
.small-menu-block,
.small-menu-container {
    display: none;
}

@media screen and (max-width: 1080px) {
    .nav-menu-list {
        display: none;
    }

    /* MENU LOGO */
    .nav-logo {
        float: left;
        width: 60%;
        height: 100%;
        text-align: left;
    }

    .nav-logo h1 {
        padding-left: 35px;
    }

    /* SMALL MENU */
    .small-menu-screen,
    .small-menu-block,
    .small-menu-container {
        display: block;
    }

    .small-menu-container {
        float: right;
        text-align: end;
        width: 35%;
        margin: 25px auto;
        padding-right: 20px;
    }

    .small-menu-button {
        width: 70px;
        float:right;
    }

    .small-menu-block {
        position: absolute;
        background-color: black;
        margin-top: 80px;
        overflow-y: scroll;
        max-height: 300px;
    }

    .small-menu-block h4, 
    .small-menu-block h5 {
        color: white !important;
        padding: 5px;
    }

}
