.display-card-container {
    margin: 35px auto;
    width: 100%;
}

.card-component-container {
    margin: 10px auto 0px;
}

.card-description-container {
    margin: -3px auto 0px;
    padding: 5px 5px 20px;
    border: solid 1px rgb(145, 145, 145);
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.card-description-container h4 {
    text-align: center;
}

.card-description-container p {
    text-align: left;
}

@media screen and (max-width: 640px) {
    .display-card-container .site-span-6{
        grid-column: span 12;
        margin: 25px 0px;
    }
}