.tabs-container {
    border: 1px solid rgb(121, 121, 121);
}

.site-single-tab {
    padding: 10px 5px;
    text-align: center;
    color: white;
    background-color: black;
}

.site-single-tab:hover {
    border-bottom: 2px solid rgb(215, 229, 255);
}

.site-tabs-display-content {
    padding: 20px 30px;
    background-color: rgb(154, 154, 154);
    min-height: 250px;
}

.site-tabs-display-content p {
    padding: 15px 0px;
}

@media screen and (max-width: 1080px) {

    .site-tabs-row {
        display: flex;
        overflow-y: scroll;
    }

    .site-single-tab {
        width: 250%;
        min-width: 200px;
    }

}