.display-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card-component-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 300px;
    margin: 10px auto;
    width: 300px;
    overflow: hidden;
}

.card-component-image {
    border-radius: 0px 5px;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card-description-container {
    padding: 0px 10px 20px;
    width: 278px;
    height: 100px;
    overflow: hidden;
    background-color: white;
}

.card-description-content {
    text-align: left;
    padding: 0px 15px;
}
