.main-section {
    width: 66%;
    /* border: 1px solid black; */
}

.main-section p {
    width: 80%;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
}

.sidebar-section {
    width: 32.3%;
    flex-wrap: wrap;
    padding: 0px 10px; 
    /* border: solid 1px black; */
}

.sidebar-section-single {
    margin-bottom: 40px;
}

.sidebar-section-heading {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.sidebar-section-heading h2 {
    padding: 5px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.site-project-item {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 25px auto;
}

.site-project-pic {
    width: 50%;
    height: 100px;
}

.site-project-title {
    padding: 10px;
    margin: auto;
}

@media (max-width:1160px) {
    .main-section {
        width: 100%
    }
    
    .sidebar-section {
        width: 60%;
        text-align: center;
        margin: auto;
    }
}