body {
    padding-top: 24.2px;
    background-color: rgb(228, 208, 181);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main {
    grid-column: span 8;
    width: 100%;
}


aside {
    grid-column: span 4;
    width: 100%;
}

main p {
    text-align: left;
}

aside p {
    text-align: center;
}
main p, 
aside p {
    width: 85%;
    margin: 25px auto;
}

.sidebar-section {
    margin: auto;
}

.sidebar-heading {
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.sidebar-heading h1 {
    padding: 8px;
}

.sidebar-profile-icon {
    margin: 15px 0px;
    border-radius: 50%;
}

.sidebar-component-item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 80%;
    margin: 15px auto;
}

.sidebar-component-item h3 {
    grid-column: span 6;
    margin: auto;
    text-align: center;
    width: 100%;
}

.sidebar-component-image-container {
    grid-column: span 6;
    width: 100%;
}

.sidebar-component-image-container img {
    height: 100px;
    width: 178px;
}

@media screen and (max-width: 1180px) {
    .sidebar-component-item h3 {
        grid-column: span 12;
    }
    
    .sidebar-component-image-container {
        grid-column: span 12;
    }
}

@media screen and (max-width: 987px) {
    main {
      grid-column: span 12;
    }
    aside {
      grid-column: span 12;
      margin: auto;
      width: 60%;
    }

    .sidebar-component-item h3 {
        grid-column: span 6;
    }
    
    .sidebar-component-image-container {
        grid-column: span 6;
    }
}

@media screen and (max-width: 660px) {
    main {
        grid-column: span 12;
    }
    aside {
        grid-column: span 12;
        width: 80%;
    }

    .sidebar-component-item h3 {
        grid-column: span 12;
    }
    
    .sidebar-component-image-container {
        grid-column: span 12;
    }
}