.city-search {
    width: 50%;
    height: 30px;
    padding: 0px 10px;
}

.weather-forecast-results{
    text-align: center;
}

.what-is-weather-text{
    font-size: 20px;
    text-align: center;
    padding: 20px 0px 5px;
}

.weather-cards-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding-bottom: 15px;
}

.temprature-card-container {
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90%;
    grid-column: span 4;
}

.temprature-card-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
    max-height: 100px;
}

.temprature-card-description-container {
    margin: auto;
    max-width: 150px;
    min-height: 160px;
    overflow: hidden;
}